#ig-tools * {
    box-sizing: border-box !important;
}
#ig-tools {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: block;
    z-index: 9999999;
    top: 0;
    right: 0;
    box-sizing: border-box;
    border-left: 1px solid #000;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 35%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.hidden {
    display: none !important;
}
.no-scroll {
    overflow: hidden !important;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}
#ig-tools .toggle-tools {
    position: absolute;
    top: 30px;
    right: 30px;
    box-sizing: border-box;
    
}

.ig-tools-btn {
    width: auto;
    height: auto;
    position: fixed;
    z-index: 9999998;
    box-sizing: border-box;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: 0;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

#ig-tools .sidebar {
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    float: left;
    background-color: rgba(0,0,0,.7);
    margin-left: 20px;
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
    padding: 10px;
}

#ig-tools .section {
    width: 100%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1rem;
    border: 2px solid #fff;
    margin: 5px 0;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

#ig-tools .section:hover,
#ig-tools .section:focus,
#ig-tools .section.active {
    font-weight: bold;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);

    transition: all 500ms ease-in-out;
}

#ig-tools .content {
    width: calc(100% - 360px);
    float: right;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    background-color: rgba(0,0,0,.7);
    padding: 10px;
    margin-right: 20px;
}

#ig-tools .content > div {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    display: none;
}

#ig-tools .content > div.active {
    display: block;
}

#ig-tools .content > div > div {
    display: block;
}

#ig-tools .users-list {
    position: relative;
    width: 24%;
    box-sizing: border-box;
    margin: 20px 0.5%;
    height: 500px;
    display: block;
    float: left;
    border: 1px solid grey;
    padding: 5px;
    background-color: #fff;
    color: #000;
    overflow: hidden;
}

#ig-tools .users-list.large {
    width: 45%;
    margin: 20px 2.5%;
}
#ig-tools .users-list.large > div {
    display:block;
    width: 100%;
    height: 420px;
    float:left;
    box-sizing: border-box;
    overflow: hidden auto;
}
#ig-tools label {
    width: 100%;
    float: left;
    margin: 20px 0;
    text-align: left;
}
#ig-tools .users-list  .list-header,
#ig-tools .users-list.large  .list-header {
    width: 100%;
    text-align: left;
    padding: 10px;
    height: 40px;
    line-height: 20px;
    box-sizing: border-box;
    float:left;
    overflow: hidden;
    border-bottom: 1px solid grey;
}

#ig-tools .users-list > div {
    display:block;
    height: 460px;
    float:left;
    box-sizing: border-box;
    overflow: hidden auto;
}
#ig-tools .users-list > div > .user {
    width: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
    display: block;
}

#ig-tools .users-list  .user > img {
    max-width: 30px;
    max-height: 30px;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    float: left;
}

#ig-tools .users-list  .user > span {
    float: left;
    margin-left: 10px;
}

#ig-tools .users-list  .user > button {
    float:right;
}